/**
 * @作者 7七月
 * @微信公号 林间有风
 * @开源项目 $ http://7yue.pro
 * @免费专栏 $ http://course.7yue.pro
 * @我的课程 $ http://imooc.com/t/4294850
 * @创建时间 2019-09-03 04:57
 */
function statusTextColor(status) {
    if(status === 5){
        return "#999999"
    }
    if(status === 1){
        return "#9E2731"
    }
    else{
        return "#157658"
    }
}

function shouldShow(currentStatus, orderStatus) {
    if (currentStatus === 0) {
        return true;
    }
    if(currentStatus != orderStatus){
        return false
    }
    return true
}

function couponColorStatus(status) {
    if (status === 1 || status === 0) {
        return "#157658"
    }
    if (status === 2) {
        return "#666666"
    }
    if (status === 3) {
        return  "#bbbbbb"
    }
}

module.exports = {
    statusTextColor:statusTextColor,
    shouldShow:shouldShow,
    couponColorStatus:couponColorStatus
}